table.zsfootball-match{
	background-color: inherit;
	
	.zsfootball-match-details {
		background-color: beige;

		tr.header {
			border-bottom: 1px solid;
    		background-color: darkgray;
    		color: white;

    		td {
    			padding: 5px;
    		}
    		.date {
    			text-align: left;
    			width: 20%;
    		}
    		.referee {
    			text-align: left;
    			width: 20%
    		}
    		.location {
    			text-align: right;
    			width: 20%;
    		}
    		.attendance {
    			text-align: left;
    			width: 40%;
    		}
		}
		tr.half {
			background-color: dimgray;
			color: white;
		}
	}

	.zsfootball-match-row {
		td {
			padding: 5px;
		}
		.away-club {
			font-weight: bold;
			text-align: left;
			width: 30%;
		}
		.home-club {
			font-weight: bold;
			text-align: right;
			width:30%;
		}
		.result {
			font-weight: inherit;
			text-align: center;
			width: 10%;
			span {
				background-color: beige;
				cursor: pointer;
				font-size: medium;
				padding: 4px;
			}
		}
		.match-date {
			text-align: left;
			width: 15%;
		}
		.location {
			text-align: right;
			width: 15%
		}
	}
}

table.zsfootball-match.selected {
	background-color: inherit;
	
	.zsfootball-match-details {
		height: 100px;

		table {
			width: 100% !important;

			tr {
				text-align: center;
			}
		}
	}
}
